USE [master]
GO
/****** Object:  Database [InterviewExam]    Script Date: 29-Oct-22 4:47:57 PM ******/
CREATE DATABASE [InterviewExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InterviewExam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InterviewExam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InterviewExam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InterviewExam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InterviewExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InterviewExam]
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 29-Oct-22 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[StudentID] [varchar](100) NOT NULL,
	[ID] [varchar](100) NOT NULL,
	[StudentName] [varchar](150) NOT NULL,
	[FatherName] [varchar](150) NOT NULL,
	[MotherName] [varchar](150) NOT NULL,
	[Religion] [varchar](50) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[Mobile] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[DOB] [date] NOT NULL,
	[IsWaiver] [bit] NOT NULL,
	[Age] [varchar](200) NOT NULL,
	[ImagePath] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudentResult]    Script Date: 29-Oct-22 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudentResult](
	[StudentResultID] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [varchar](100) NOT NULL,
	[Board] [varchar](100) NOT NULL,
	[PassYear] [varchar](50) NOT NULL,
	[Result] [decimal](18, 0) NOT NULL,
	[Remarks] [varchar](200) NULL,
	[StudentID] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblStudentResult]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[tblStudent] ([StudentID])
GO
USE [master]
GO
